@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Default 3 columns */
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 2rem;
    padding-top: 5rem;

    @include mq.respond-to(mq.$phone) {
        //position: absolute;
        grid-template-columns: 1fr;
        /* 1 column for phones */
        scale: 80%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;

    }
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Default 3 columns */
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 2rem;
    padding-top: 5rem;

    @include mq.respond-to(mq.$phone) {
        //position: absolute;
        grid-template-columns: 1fr;
        /* 1 column for phones */
        scale: 80%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
        margin-left: -0.5rem;
    }
}

.card {
    border-radius: 5%;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 0rem;
    overflow: hidden;
    position: relative;
    background-color: vars.$clr-secondary;

    @include mq.respond-to(mq.$phone) {
        padding-top: 0rem;
    }
}

.img-container {
    position: relative;
    display: inline-block;
}

.gif {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.gif2 {
    margin-top: 30rem;
    padding-bottom: 5rem;
    position: absolute;
    scale: 40%;
    z-index: -1;

    @include mq.respond-to(mq.$phone) {
        margin-top: 40rem;

    }
}


.card-bg {
    background-color: vars.$clr-primary;
    /* Matches the card's background */
    margin-left: -3rem;
    margin-right: -3rem;
    margin-bottom: -3rem;
    padding-bottom: 3rem;
}

.level-img {
    width: 550px;
    /* Set a fixed width */
    height: 250px;
    /* Set a fixed height, adjust as needed */
    object-fit: cover;

    @include mq.respond-to(mq.$phone) {
        width: 420px;
    }
}

.card-title,
.card-text {
    //   background-color: vars.$clr-accent; /* Different color for title and text background */
    padding: 1rem;
    border-radius: 5px;
}


.big-logo {
    display: flex;
    flex-direction: column;   // Stacks the items vertically
    justify-content: center;  // Centers them horizontally
    align-items: center;      // Centers them vertically
    height: 100%;             // Full height of the parent container
  }