@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;

.btn {
    background-color: transparent;
    border: 0.1rem solid vars.$clr-white;
    border-radius: 1rem;
    color: vars.$clr-white;
    display: inline-block;  
    font-size: vars.$fs-sm;
    padding: 0.5rem 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: vars.$clr-secondary;
        color: white;  
    }
}

.card-btn {
    padding-left: 3rem;
    padding-right: 3rem;
}

.login-btn {
    @include mq.respond-to(mq.$phone) {
        display: block;
        max-width: 100px;
        position: absolute;
        right: 10px;
        scale: 70%;
        top: 20px;
    }
}

.play-btn {
    background-color: vars.$clr-white;
    color: vars.$clr-bg;
    font-family: vars.$ff-secondary;
    font-size: vars.$fs-md;
    padding-left: 3rem;
    padding-right: 3rem;
}

.submit {
    background: vars.$clr-secondary;
    border: none;
    border-radius: 1rem;
    color: vars.$clr-bg;
    padding: 0.5rem;
    position: relative;
    right: 2rem;
}
