$clr-bg: #3C2A4D;
$clr-secondary: #6F95FF;
$clr-primary: #5C65C0;
$clr-white: #E0F0EA;

$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

$ff-main: "Montserrat", sans-serif;
$ff-secondary: "Londrina Solid", sans-serif;

$fs-xs: 0.8rem; //20px
$fs-sm: 1.25rem; //20px
$fs-md: 1.563rem; //25px
$fs-xmd: 1.875rem; //30px
$fs-xxmd: 2.625rem; //42px
$fs-lg: 3.375rem; //54px
$fs-xlg: 3.75rem; //60px
$fs-xxlg: 4.688rem; //75px
$fs-gt: 8.563rem; //137px